<html>

<head>

</head>

<body>
    <div class="container">
         <form action="" method="POST">
{% csrf_token %}
            <input type="text" name ="input1" placeholder="Please enter the password!"  >
            <!-- <input type="text" name ="input2" placeholder="Please enter the description of your problem!"  >
            <input type="text" name ="input3" placeholder="Please enter the description of your problem!"  >
            <input type="text" name ="input4" placeholder="Please enter the description of your problem!"  > -->
            <button type="submit"> Submit request</button>

         </form>
    </div>
</body>
</html>